@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Poppins:wght@200&family=Raleway:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background-image: url("/Images/backgroundImage.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.navbar-brand img {
  height: 40px;
  width: 40px;
}
.customcontainer {
  min-width: 100%;
  display: flex;
  overflow-x: hidden;
  flex-direction: column;
}
.favouritePage{
  display: none;
  max-width: 100%;
  padding:10px;
  overflow-x: hidden;
}
.inputdata {
  width: 30rem;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  padding: 10px;
  border: none;
  outline: none;
}
#searchBtn {
  margin: 0;
  padding: 10px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.inputcontent {
  display: flex;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 20px;
}
.col {  
  margin: 10px;
}
#randomBtn{
    margin:0px;
    padding: 10px 20px;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    max-width: 75%;
    height:450px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    overflow-y: auto;
  }
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  
  /* The Close Button */
  .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-header {
    padding: 2px 16px;
    background-color: #a9b85c;
    color: white;
  }
  
  .modal-body {padding: 2px 16px;}
  
.modal-body{
    display:flex;
    
}
#leftContent{
    padding-right:15px;
}
#rightContent{
    padding-left:15px;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}
#input-div{
  width: 30rem;
  position: relative;
  display: inline-block;
}
#randomSingelMeal{
  max-width:100%;
}
