<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Kanit:wght@400;600;700&family=Karla:wght@400;600;700&family=Lora&family=Montserrat:wght@300&family=Poppins:wght@200&family=Raleway:wght@500&display=swap"
    rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.3/dist/sweetalert2.min.css">
  <title>Authenication | <%= title %></title>
  <script src="https://kit.fontawesome.com/1b17021890.js"></script>
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>