<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
<body>
  <div class="notAuth-container">
    <img class="unAutherazied" src="../Images/error_401.jpg">
  </div>
</body>
</html>