<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
<body>
  <div class="container">
    <h1>Reset Password</h1>
    <form class="form" id="form">
      <div class="form-controls">
        <label for="password">Password:</label><sup style="color: red;">*</sup>
        <input type="password" id="password" placeholder="Enter your password" name="password" autocomplete="false">
        <i class="fa-solid fa-circle-check"></i>
        <i class="fa-solid fa-circle-exclamation"></i>
        <small>Error Msg</small>
      </div>
      <div class="form-controls">
        <label>Confirm Password:</label><sup style="color: red;">*</sup>
        <input type="password" id="cpassword" placeholder="Enter your password"autocomplete="false">
        <i class="fa-solid fa-circle-check"></i>
        <i class="fa-solid fa-circle-exclamation"></i>
        <small>Error Msg</small>
      </div>
      <input type="submit" value="Reset" class="reset-btn">
    </form>
    <a class="backhome" href="/home">Back Home</a>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.3/dist/sweetalert2.all.min.js"></script>
  <script src="/JavaSripts/resetPassword.js"></script>
</body>
</html>